* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/**App Styles**/


/**Navigation Styles**/
.Navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
.Navbar li {
    float: left;
}

.Navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/**Home Styles**/
.Home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 100%;
  overflow-x: hidden;
  background-image: url('https://i.pinimg.com/originals/2c/51/a5/2c51a52e1a39bedf315c0f9fce8efb5e.png');
  background-size: cover;
}

.CompanyCard {
  margin: 20px;
}

h1 {
  text-align: center;
}

/**Add Company Styles**/
.AddCompany {
  min-height: 100vh;
  background-image: url('https://i.pinimg.com/originals/2c/51/a5/2c51a52e1a39bedf315c0f9fce8efb5e.png');
  background-size: cover;
}

.add-card {
  max-width: 40em;
  margin: 0 auto;
}